<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.senyint.exercise.mapper.IdentityMapper">
  <resultMap id="BaseResultMap" type="com.senyint.exercise.entity.Identity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="IDENTITY_ID" jdbcType="INTEGER" property="identityId" />
    <result column="IDENTITY_TYPE" jdbcType="VARCHAR" property="identityType" />
    <result column="IDENTITY_NAME" jdbcType="VARCHAR" property="identityName" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="UPDATE_COUNT" jdbcType="INTEGER" property="updateCount" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="DELETE_FLAG" jdbcType="CHAR" property="deleteFlag" />
    <result column="DELETE_TIME" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="DELETE_BY" jdbcType="VARCHAR" property="deleteBy" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    IDENTITY_ID, IDENTITY_TYPE, IDENTITY_NAME, CREATE_TIME, CREATE_BY, UPDATE_COUNT, 
    UPDATE_TIME, UPDATE_BY, DELETE_FLAG, DELETE_TIME, DELETE_BY
  </sql>
</mapper>